.Handler ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.Handler li {
    display: inline-block;
    margin: 20px;
}

.Handler a {
    text-decoration: none;
    color: black
}

.Handler a:hover,
.Handler a:active,
.Handler a.active{
    color:orange;
}